body{
    padding: 0px;
    margin: 0px;
}
#loadScreen{
    height:0px;
    width:0px;
    position:absolute;
    background: url("../img/bg.png") ;
    opacity: 0.5;       /* modern browser */
    -moz-opacity: 0.5;  /* older Mozilla browser */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8 in Standard Compliant Mode */
    filter:alpha(opacity=50); /* IE5.x -7.0 */
}
#cardTable {
    margin: 0 auto;
    border-spacing: 0px;
}
tr.row_0{
    background: #FFF;
}
#cardTable td{
    text-align: center;
}
div#content {
    margin: 0 auto;
}
img.removeCard{
    width:20px;
    height:20px;
    cursor: pointer;
}
span.tdinfo_equal {
    color: #333333;
    font-size: 60px;
}
span.tdinfo_higher {
    color: #BB0000;
    font-size: 60px;
}
span.tdinfo_lower {
    color: #00BB00;
    font-size: 60px;
}
#hoverDiv {
    height: 300px;
    width: 200px;
    background: #555;
    position:absolute;
    display:none;
}
th.minimum{
    background: #bb2322;
}
th.average{
    background: #FF7F24;
}
th.foil{
    background: #FFEC8B;
}
th.firstgerman{
    background: #9dff45;
}
th.firstgermannm{
    background: #C6E2FF;
}
th.firstgermanps{
    background: #AB82FF;
}

a tr td.minimum :hover{
    background: #bb2322;
}
a tr td.average :hover{
    background: #FF7F24;
}
a tr td.foil :hover{
    background: #FFEC8B;
}
a tr td.firstgerman :hover{
    background: #9dff45;
}
a tr td.firstgermannm :hover{
    background: #C6E2FF;
}
a tr td.firstgermanps :hover{
    background: #AB82FF;
}

#main
{
	width: 960px;
	margin: 160px auto 0 auto;
	background: white;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 30px;
	border: 1px solid #adaa9f;
	-moz-box-shadow: 0 2px 2px #9c9c9c;
	-webkit-box-shadow: 0 2px 2px #9c9c9c;
}

/*Features table------------------------------------------------------------*/
.features-table
{
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  text-shadow: 0 1px 0 #fff;
  color: #2a2a2a;
  background: #fafafa;
  background-image: -moz-linear-gradient(top, #fff, #eaeaea, #fff); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,center bottom,center top,from(#fff),color-stop(0.5, #eaeaea),to(#fff));
}

.features-table td
{
  line-height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  white-space: nowrap;
  text-align: center;
}

/*Body*/
.features-table tbody td
{
  text-align: center;
  font: normal 10px Verdana, Arial, Helvetica;
  width: 150px;
}

.features-table tbody td:first-child
{
  width: auto;
  text-align: left;
}


.features-table td:nth-child(3)
{
  background: #e7f3d4;
  background: rgba(184,243,85,0.3);
}
.features-table td:nth-child(9)
{
  background: #e7f3d4;
  background: rgba(184,243,85,0.3);
}
.features-table td:nth-child(4)
{
  background: #e7f3d4;
  background: rgba(243, 137, 59, 0.29);
}
.features-table td:nth-child(10)
{
  background: #e7f3d4;
  background: rgba(243, 137, 59, 0.29);
}
.features-table td:nth-child(5)
{
  background: #e7f3d4;
  background: rgba(95, 94, 243, 0.28);
}
.features-table td:nth-child(11)
{
  background: #e7f3d4;
  background: rgba(95, 94, 243, 0.28);
}
.features-table td:nth-child(6)
{
  background: #e7f3d4;
  background: rgba(51, 176, 243, 0.27);
}
.features-table td:nth-child(12)
{
  background: #e7f3d4;
    background: rgba(51, 176, 243, 0.27);
}
.features-table td:nth-child(7)
{
  background: #e7f3d4;
  background: rgba(228, 243, 41, 0.26);
}
.features-table td:nth-child(13)
{
  background: #e7f3d4;
  background: rgba(228, 243, 41, 0.26);
}.features-table td:nth-child(8)
{
  background: #e7f3d4;
  background: rgba(204, 216, 198, 0.25);
}
.features-table td:nth-child(14)
{
  background: #e7f3d4;
  background: rgba(204, 216, 198, 0.25);
}

/*Header*/
.features-table thead td
{
  font: bold 10px 'trebuchet MS', 'Lucida Sans', Arial;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #eaeaea;
}

.features-table thead td:first-child
{
  border-top: none;
}

/*Footer*/
.features-table tfoot td
{
  font: bold 10px Georgia;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid #dadada;
}

.features-table tfoot td:first-child
{
  border-bottom: none;
}