body{
    padding: 0px;
    margin: 0px;
}
#loadScreen{
    height:0px;
    width:0px;
    position:absolute;
    background: url("../img/bg.png") ;
    opacity: 0.5;       /* modern browser */
    -moz-opacity: 0.5;  /* older Mozilla browser */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8 in Standard Compliant Mode */
    filter:alpha(opacity=50); /* IE5.x -7.0 */
}
#cardTable {
    margin: 0 auto;
}

tr.row_1{
    background: #999;
}
tr.row_0{
    background: #FFF;
}
#cardTable td{
    text-align: center;
}
div#content {
    margin: 0 auto;
    width: 80%;
}
img.removeCard{
    width:20px;
    height:20px;
    cursor: pointer;
}
span.tdinfo_equal {
    color: #333333;
    font-size: 60px;
}
span.tdinfo_higher {
    color: #BB0000;
    font-size: 60px;
}
span.tdinfo_lower {
    color: #00BB00;
    font-size: 60px;
}
#hoverDiv {
    height: 300px;
    width: 200px;
    background: #555;
    position:absolute;
    display:none;
}
th.minimum{
    background: #bb2322;
}
th.average{
    background: #FF7F24;
}
th.foil{
    background: #FFEC8B;
}
th.firstgerman{
    background: #9dff45;
}
th.firstgermannm{
    background: #C6E2FF;
}
th.firstgermanps{
    background: #AB82FF;
}